{% extends "base.html.twig" %}

{% block title %}Article - {{ article.title }} {% endblock %}

{% block body %}
    <div class="text-center mt-4">
        <h1> {{ article.title }} </h1>
    </div>
{% endblock %}